.container{
    width: 100%;
    height: 10rem;
    margin: auto auto;
    padding: 0 1.5rem;
    top: 0;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-bottom: 1px solid rgba(194, 190, 190, 0.1);
    z-index: 1;
    background: #fff;

}

.logo{
    display: block;
    width: 20rem;
    margin-left: 10rem;
    margin-right: 1rem;
    
    &__link{
        color: #337ab7;
        background-color: transparent;
    }

    &__img{
        display: block;
        padding: .8rem;
        width: 100%;
        transition: all .3s;
        &:hover{
            transform: translateY(-1px) scale(1.1);
        }
    }
}

.sign-in-box{
    flex: 20%;
}
.login{
    display: inline-block;
    font-weight: 700;
    font-size: 1.5rem;
    color: #000;
    border: none;
    margin: 0 2rem 0 0rem;
    transition: all .2s ease-out;
}
.login:hover{
    transform: translateY(-1px) scale(1.01);
}
#apply{
    display: inline-block;
    font-weight: 700;
    font-size: 1.5rem;
    color: #fff;
    background: #22366a;
    border: 2px;
    padding: 1rem 2rem;
    transition: all .2s ease-out;
}
#apply:hover{
    transform: translateY(-1px) scale(1.01);
    box-shadow: -.2rem .2rem .5rem rgba(8, 5, 43, 0.4);
}

/**----*/
.arrow{
    // margin-left: -5px;
    display: inline-block;
    width: 1.3rem;
}
.arrow-forward{
    float: right;
    margin-right: 2rem;
    display: block;
    width: 1.3rem;
    font-weight: 600;
}
.fa-angle-right{
   float: right;
   font-size: 2rem;
   margin-right: 2rem;
   font-weight: 400; 
   color: #22366a;
}
.list-heading{
    display: flex;
    flex-flow: row wrap;
    flex: 60%;
    justify-content: space-around;

    &--1 > ul{
        display: inline-block;
        font-size: 1.3rem;
        font-weight: 600;
        padding: 1rem;
        a{
            color: #22366a;
        }
        > li{
           line-height: 10rem; 
        }
    }

}

.list-heading--1 > ul > li > ul{
    display: none;
    position: absolute;
    background: #fff;
    border-radius: .8rem;
    top: 8rem;
    line-height: 2rem;
    box-shadow: -.1rem .1rem .5rem rgba(218, 219, 219, 0.068); ;
    li{
        padding: 1rem 0 1rem 1rem;
        text-align: left;
        width: 20rem;
    }
    li:hover{
        background: rgba(192,142,66,.2);
        border-radius: .8rem;
    }

}
.list-heading--1 > ul > li:hover ul{
    display: block;
}